<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
        
      </ion-back-button>
    </ion-buttons>
    <ion-title>Desc.Mascota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bosques</ion-card-subtitle>
      <ion-card-title>Parquemet </ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/descMascota.jpg"></ion-img>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
     
      <ion-label>Ubicación de recorrido</ion-label>

      <ion-button fill="outline" slot="end" href="https://www.google.cl/maps/place/Parquemet+Parque+Metropolitano+de+Santiago/@-33.3962218,-70.6417845,13z/data=!3m1!4b1!4m5!3m4!1s0x9662c590575eaed7:0xccf2dc7fb8ca530a!8m2!3d-33.4102548!4d-70.6172278?hl=es&authuser=0">
        View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <h4>Encuentranos</h4>
    <br>
    <ion-item href="https://www.facebook.com/" class="ion-activated">
      <ion-icon color="primary" name="logo-facebook" slot="start"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-item>
  
    <ion-item href="https://www.instagram.com/">
      <ion-icon color="danger" name="logo-instagram" slot="start"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-item>
  
    <ion-item href="https://www.youtube.com/" class="ion-activated">
      <ion-icon color="danger" name="logo-youtube" slot="start"></ion-icon>
      <ion-label>Youtube</ion-label>
    </ion-item>
  
    <ion-item href="https://www.maps.com/">
      <ion-icon color="success" name="map-outline" slot="start"></ion-icon>
      <ion-label>mapa</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
