.iconoSesion{
    height: 25%;
    width: 100%;
    color: rgb(42, 67, 177);
}

.btnIngresar{
    padding-left: 33%;
}

.imagenLogin{
    
    width: 80%;
    padding-top: 30px;
    padding-left: 55px;
}
