<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
        
      </ion-back-button>
    </ion-buttons>
    <ion-title>Bicicleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">
  <ion-card color="primary">
    <ion-card-header>
      
      <ion-card-title>Cerro o Montaña</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-img src="/assets/ciclismo.jpg"></ion-img>
      
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile.
     
    </ion-card-content>
    <ion-button color="warning" routerLink="/descripcion" >Mas info</ion-button>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      
      <ion-card-title>Portillo</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-img src="/assets/portillo.jpg"></ion-img>
      
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button color="warning" routerLink="/descripcion" >Mas info</ion-button>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      
      <ion-card-title>Ruta 68</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-img src="/assets/ruta7.jpg"></ion-img>
      
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button color="warning" routerLink="/descripcion" >Mas info</ion-button>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      
      <ion-card-title>Cerro San Cristobal</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-img src="/assets/cerrorenca.jpg"></ion-img>
      
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button color="warning" routerLink="/descripcion" >Mas info</ion-button>
  </ion-card>
  


</ion-content>
